  .hidden {
    display: none;
  }
  
body {
  font-family: 'Pacifico', cursive;
  background: #dbdbdb;
}

.smallText {
  font-size: large !important;
}

.rowNav {
  width: 100%;
  display: block;
  background: #2f2e30;
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 6px;
  text-align: center;
  font-size: 69px;
}

.nav {
  text-align: center;
  
}

.threeCol {
  width: 25%;
  display: inline-block;
  padding-bottom: auto;
  vertical-align: top;
}

.sevenCol {
  width: 73%;
  display: inline-block;
}

.blogRow {
  width: 100%;
}

  .buttonMembers {
    /* padding-left:  9px;
    padding-right: 9px; */
    position: static;
    display: block;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: medium;
    background: #fa7a6e;
    border: solid #fa7a6e;
    border-right: 6px solid #f0594b;
    border-bottom: 6px solid #f0594b;
    border-radius: 6px;
    /* font-family: 'Pacifico', cursive; */
    margin-top: 12px;
    margin-left: 6px;
    text-decoration: none;
  }

  .buttonMembers:hover {
    background: white;
    border: solid white;
    border-right: 6px solid #cacaca;
    border-bottom: 6px solid #cacaca;
    color: black;
    /* font-family: 'Pacifico', cursive; */
  }

  .top-30 {
    margin: 30px 0 20px 0;
  }

  .xlText {
    font-size: 48px;
    margin-bottom: 22px;
  }
  
  .container {
    width: 100%;
    margin: auto;
    display: block;
  }
  
  .title {
    display: block;
    font-size: 60px;
    margin-left: 0;
    width: 48%;
  }

  .form-group {
    margin-top: 9px;
  }

  .blog-container {
    /* width: 100%;
    margin: auto;
    display: block; */
  }

  .card {
    border-radius: 6px;
    width: 100%;
    background: white;
    padding: 6px;
    margin-top: 9px;
    box-shadow: 10px 10px 5px grey;
  }

  .card-header {

  }

  .card-body {
    background: #dbdbdb;
    margin-top: 5px;
    border-radius: 6px;
    padding: 2px;
    font-family: 'B612', sans-serif;
  }


  div.card-header > h2{
    font-size: 36px;
    padding-bottom: 6px;
  }

  div.card-header > h2 > small{
    font-size: 10px;
    color: #fa7a6e;
  }

  div.card-header > h5{
    color: #11c790;
  }


a {color:#fa7a6e;}         /* Unvisited link  */
a:visited {color:black;}   /* Visited link    */
a:hover {color:rgb(255, 255, 255);}   /* Mouse over link */
a:active {color:rgb(255, 255, 255);}  /* Selected link   */


/* Small (sm) */
@media (min-width: 640px) { /* ... */
  .title {
    font-size: 80px;
    display: block;
  }

}

/* Medium (md) */
@media (min-width: 768px) { /* ... */ 
  .title {
    font-size: 120px;
    display: inline-block;
  }

}

/* Large (lg) */
@media (min-width: 1024px) { /* ... */ 
  .title {
    font-size: 160px;
    display: inline-block;
  }

}

/* Extra Large (xl) */
@media (min-width: 1280px) { /* ... */ 
  .title {
    font-size: 180px;
    display: inline-block;
  }


}